/**
 * Styles
 */

.c-cookie-notice__info p {
  line-height: 1.4;
  font-size: 0.8rem;
  margin: 0;
  margin-bottom: 0.5rem;
  padding: 0;
}

.c-cookie-notice__info a {
  color: #000;
  text-decoration: underline;
  line-height: 1.4;
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
}

.c-cookie-notice__info a:hover {
  color: #000;
  text-decoration: none;
}

.c-cookie-notice__accept {
  transition: background-color 0.5s ease-in-out;
  position: relative;
  background-color: #fff;
  color: #000;
  font-size: 0.8rem;
  line-height: 1;
  padding: 0.75rem 0.5rem;
  padding-right: 1.6rem; /*make room for icon*/
  cursor: pointer;
}

.c-cookie-notice__accept:hover {
  background: #eaeaea;
}

.c-cookie-notice__accept-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0.5rem;
  fill: #000;
  width: 0.8rem;
  height: 0.8rem;
}

.c-cookie-notice__manage {
  font-size: 0.8rem;
  line-height: 1;
  text-decoration: underline;
  cursor: pointer;
}

.c-cookie-notice__manage:hover {
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .c-cookie-notice__accept {
    font-size: 0.9rem;
    padding: 0.75rem 1.25rem;
    padding-right: 2.5rem; /*make room for icon*/
  }

  .c-cookie-notice__accept-icon {
    right: 1rem;
    width: 1rem;
    height: 1rem;
  }
}

@media screen and (min-width: 1000px) {
  .c-cookie-notice__info p {
    font-size: 0.9rem;
  }
}
