/**
 * Position, Hide/Show & Grid
 */

.c-cookie-notice-popup {
  -webkit-overflow-scrolling: touch; /*prevent body-scrolling on iOs*/
  transition: all .3s ease-in-out;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, .5);
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  z-index: 40;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.c-cookie-notice-popup.active {
  visibility: visible;
  opacity: 1;
}

.c-cookie-notice-popup__container {
  position: relative;
  height: 100vh;
  overflow-y: scroll; /*scrollable*/
  padding: 1.5rem 1rem 8rem 1rem; /*bottom: room for mobile ui*/
  width: 100%;
  background: #fff;
}

@media screen and (min-width: 768px) {

  .c-cookie-notice-popup__container {
    height: auto; /*reset*/
    max-width: 650px;
    padding: 3rem;
  }

}

/*--- GRID ---*/

.c-cookie-notice-popup__category {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.c-cookie-notice-popup__category-content {
  width: calc(100% - 60px);
  padding-right: 1rem;
}

.c-cookie-notice-popup__category-choice {
  width: 60px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .c-cookie-notice-popup__category-content {
    padding-right: 2rem;
  }
}

/*--- CLOSER ---*/

.c-cookie-notice-popup__closer {
  position: absolute;
  top: .75rem;
  right: .75rem;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.c-cookie-notice-popup__closer span {
  transform: rotate(45deg);
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
}

.c-cookie-notice-popup__closer span:first-child {
  width: 100%;
  height: 2px;
  top: calc(50% - 1px);
}

.c-cookie-notice-popup__closer span:last-child {
  width: 2px;
  height: 100%;
  left: calc(50% - 1px);
}

@media screen and (min-width: 768px) {
  .c-cookie-notice-popup__closer {
    top: 1rem;
    right: 1rem;
  }
}