/*--- POPUP ---*/

.c-cookie-notice-popup {
  -webkit-overflow-scrolling: touch; /*prevent body-scrolling on iOs*/
  transition: all .3s ease-in-out;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, .5);
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  z-index: 100;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.c-cookie-notice-popup.active {
  visibility: visible;
  opacity: 1;
}

.c-cookie-notice-popup__container {
  position: relative;
  height: 100vh;
  overflow-y: scroll; /*scrollable*/
  padding: 1.5rem 1rem 8rem 1rem; /*bottom: room for mobile ui*/
  width: 100%;
  background: #fff;
}

@media screen and (min-width: 768px) {

  .c-cookie-notice-popup__container {
    height: auto; /*reset*/
    max-width: 650px;
    padding: 3rem;
  }

}

/*--- GRID ---*/

.c-cookie-notice-popup__category {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.c-cookie-notice-popup__category-content {
  width: calc(100% - 60px);
  padding-right: 1rem;
}

.c-cookie-notice-popup__category-choice {
  width: 60px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .c-cookie-notice-popup__category-content {
    padding-right: 2rem;
  }
}

/*--- CLOSER ---*/

.c-cookie-notice-popup__closer {
  position: absolute;
  top: .75rem;
  right: .75rem;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.c-cookie-notice-popup__closer span {
  transform: rotate(45deg);
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
}

.c-cookie-notice-popup__closer span:first-child {
  width: 100%;
  height: 2px;
  top: calc(50% - 1px);
}

.c-cookie-notice-popup__closer span:last-child {
  width: 2px;
  height: 100%;
  left: calc(50% - 1px);
}

@media screen and (min-width: 768px) {
  .c-cookie-notice-popup__closer {
    top: 1rem;
    right: 1rem;
  }
}

/*--- DETAILS ---*/

.c-cookie-notice-popup__intro, 
.c-cookie-notice-popup__category {
  border-bottom: 1px solid #e6e6e6;
}

.c-cookie-notice-popup__intro {
  padding-bottom: 1.5rem;
}

.c-cookie-notice-popup__category {
  padding: 1.5rem 0;
}

.c-cookie-notice-popup__outro {
  padding-top: 1.5rem;
  text-align: center;
}

/*--- DETAILS ---*/

.c-cookie-notice-popup__accept {
  display: inline-block;
  background-color: #000;
  color: #fff;
  font-size: 1rem;
  line-height: 1;
  padding: .75rem 1rem;
  cursor: pointer;
}

.c-cookie-notice-popup__intro p,
.c-cookie-notice-popup__category p {
  font-size: .9rem;
  line-height: 1.4;
}
.c-cookie-notice-popup__category p:last-child {
  margin-bottom: 0;
}

.c-cookie-notice-popup__title {
  font-weight: bold;
  font-size: 1.4rem;
  margin-bottom: .5rem;
}

.c-cookie-notice-popup__subtitle {
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: .5rem;
}

/*--- CHECK ICON ---*/

.c-cookie-notice-popup__category-icon {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #fff;
}

.c-cookie-notice-popup__category-icon-container {
  position: relative;
  display: inline-block;
  width: 34px; 
  height: 34px; /*match switch*/
  background: #6da56d;
  border-radius: 100%;
}

/*--- SWITCH ---*/

/* The box around the slider */
.c-cookie-notice-popup__switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.c-cookie-notice-popup__switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.c-cookie-notice-popup__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.c-cookie-notice-popup__slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

.c-cookie-notice-popup__checkbox:checked + .c-cookie-notice-popup__slider {
  background-color: #6da56d;
}

.c-cookie-notice-popup__checkbox:checked + .c-cookie-notice-popup__slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}